*{	
	margin: 0px;
	padding: 0px;
}

body{
	background-image: url(images/back.jpg);
	background-size: cover;
	background-attachment: fixed;
	font-style: italic;
}

ul{
	margin-bottom: 50px
}

ul a{
	font-size: 29px;
	color: white;
}
ul a:hover{
	text-decoration: none;
	color: gray;
}

.font{

	color:gray;

}

.custom-control-label{

	color: #007bff;
}

.label{
	font-size: 20px;
	color: white;
	font-weight: normal;
}

.form-control{
	background: transparent;
	border-radius: 0px;
	border:0;
	border-bottom: 1px solid skyblue;
	margin-bottom: 30px;
	font-size: 22px;
	color: white;
	padding: 20px;
}



.text-center{
	font-size: 16px;
	margin-top: 40px;
	color: gray;

}
img{
	width: 440px;
	height: 477px;
}

.form-input{
	position: relative;
}

.form-input input{
	width: 100%;
	height: 45px;
	padding-left: 40px;
	margin-bottom: 20px;
	box-sizing: border-box;
	box-shadow: none;
	border: 1px solid #00000020;
	border-radius: 50px;
	outline: none;
	
}

.form-input span{
	position: absolute;
	top: 10px;
	padding-left: 15px;
	color: #007bff;
}

.form-input input::placeholder{
	color: black;
	padding-left: 0px; 
}

.form-input input:focus, .form-input input:valid{
	border: 2px solid #007bff;
}

.form-input input:focus::placeholder{
	color: #454b69;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
	background-color: #007bff !important;
	border: 0px;
}

.form-box button[type="submit"]{
	background-color: #ffa400;
	border: 1px solid #ffa400;
	border-radius: 10px;
	color: #fff;
	padding: 5px 50px;
	font-size: 18px;
	margin-bottom: 5px;
	transition: .9s all;
}

.form-box button[type="submit"]:hover{
	background-color: #00a4e4;
	border:1px solid #00a4e4;
	border-radius: 50px;
}




.forget-link, .register-link{
	color: #007bff;
	font-weight: bold;
}

.forget-link:hover, .register-link:hover{
	color: #0069d9;
	text-decoration: none;
}

.form-box .btn-social{
	color: white !important;
	border: 0;
	font-weight: bold;
}

.form-box .btn-facebook{
	background: #4866a8;
}

.form-box .btn-google{
	background: red;
}

.form-box .btn-twitter{
	background: #33ccff;
}	